@font-face {
    font-family: 'Libertinage';
        src: url('/fonts/Libertinage-v.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	background: #AAA;
    font-family: Libertinage, serif;
    font-size: 14pt;
	margin: 4em;
}

table td {
	width: 2em;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	padding-right: 0.5em;
}

p {
	max-width: 36em;
	margin-bottom: 4em;
	margin-top: 4em;
}